# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
coverage
.tmp
.tmp-*

# environment variables (allows .env.example in version control)
.env
.env.development
.env.testing
.env.production
*.local

# macOS
.DS_Store
