.active-header-link {
  background-color: #ffffff;
  color: #434952;
  text-decoration: none;
  padding: 8px 20px;
  margin: 6px 8px 6px auto;
  border-radius: 12px;
}

.header-link {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  margin: 6px auto;
  border-radius: 12px;
  transition: background 120ms ease, transform 80ms ease;
}

.header-link:hover {
  background-color: rgba(255,255,255,0.75);
  color: #434952;
}
