.overview-card {
  background: var(--light-color);
  grid-column: span 6;
  padding: 16px;
}

@media (max-width: 1024px) {
  .overview-card {
    grid-column: span 12;
  }
}

.overview-card h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 10px;
}
