.site-title {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
  display: inline-block;
}

.preheading {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0;
  gap: 4px;
}

.heading {
  font-weight: 300;
  margin-top: 0;
}
