/* Treat title like a logo: no selection, no text cursor */
.site-title {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS long-press menu */
  cursor: default; /* arrow cursor instead of I-beam */
  display: inline-block; /* helps avoid odd text behaviors */
}

.preheading {
  display: "flex";
  align-items: "center";
  font-weight: 500;
  margin-bottom: 0;
  gap: 4;
}

.heading {
  font-weight: 300;
  margin-top: 0;
}
