:root {
  --font-sans:
    "Urbanist", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

html,
body,
#root {
  background: #accdea;
  color: #ffffff;
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/*.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
