:root {
  --font-family:
    "Urbanist", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;

  /* app color palette */
  --alt-theme-color-rgb: 157 218 143;  /* soft green */
  --background-color-rgb: 238 242 246; /* soft(er) grey */
  --border-color-rgb: 229 231 235;     /* soft grey */
  --dark-color-rgb: 067 073 082;       /* black */
  --light-color-rgb: 255 255 255;      /* white */
  --menu-item-color-rgb: 241 245 249;  /* soft(est) grey */
  --theme-color-rgb: 172 205 234;      /* soft blue */
  --unread-color-rgb: 016 019 245;     /* deep blue */

  --alt-theme-color: rgb(var(--alt-theme-color-rgb));
  --background-color: rgb(var(--background-color-rgb));
  --border-color: rgb(var(--border-color-rgb));
  --dark-color: rgb(var(--dark-color-rgb));
  --light-color: rgb(var(--light-color-rgb));
  --menu-item-color: rgb(var(--menu-item-color-rgb));
  --theme-color: rgb(var(--theme-color-rgb));
  --unread-color: rgb(var(--unread-color-rgb));
}

html,
body,
#root {
  background-color: var(--theme-color);
  color: var(--light-color);
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-content {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  background-size: clamp(25vw, 45vw, 65vw);
  display: grid;
  gap: 0;
  margin: 24px 12px;
  padding: 24px;
}

.preheading {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0;
  gap: 4px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.preheading .fa-circle[title="Checking…"] {
  animation: pulse 1.2s ease-in-out infinite;
}

.heading {
  font-weight: 300;
  margin-top: 0;
}

.form-label {
  display: block;
  margin: 14px 0 6px;
  color: rgb(var(--dark-color-rgb) / 75%);
  font-size: 14px;
}

.form-input {
  width: calc(100% - 30px);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 12px 14px;
  background: var(--light-color);
  color: var(--dark-color);
  outline:none;
  font-size: 12px;
}

.btn-wrapper {
  margin-top: 32px;
}

.btn {
  border: none;
  background: var(--alt-theme-color);
  color: var(--light-color);
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

textarea.form-input {
  resize: vertical;
}

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/*.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
