:root {
  --font-family:
    "Urbanist", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif;

  --theme-color: #accdea;
  --alt-theme-color: #9dda8f;
  --light-color: #ffffff;
  --dark-color: #434952;
}

html,
body,
#root {
  background-color: var(--theme-color);
  color: var(--light-color);
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-content {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  background-size: clamp(25vw, 50vw, 100%);
}

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

/*.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
