.pc-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
}

.pc-month {
  font-weight: 600;
  color: var(--dark-color);
}

.pc-dow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  padding: 0 4px;
  color: rgb(var(--dark-color-rgb) / 65%);
  font-size: 12px;
}

.pc-dow-cell {
  text-align: center;
}

.pc-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  flex: 1 1 auto;
  align-content: start;
  padding: 0 4px 8px;
}

.pc-cell {
  display: grid;
  place-items: center;
  min-height: 56px;
}

.pc-dot {
  width: 56px;
  height: 56px;
  border-radius: 999px;
  display: grid;
  place-items: center;
  font-weight: 600;
  cursor: default;
}

.pc-dot.none {
  background: var(--background-color);
  color: var(--dark-color);
}

.pc-dot.has {
  background: var(--alt-theme-color);
  color: var(--light-color);
}

.pc-wrap {
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.pc-wrap {
  position: relative;
}

.pc-tip {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  background-color: var(--dark-color);
  border-radius: 999px;
  padding: 6px 10px 6px 8px;
  font-size: 12px;
  color: var(--light-color);
  box-shadow:
    0 10px 15px -3px rgb(var(--dark-color-rgb) / 10%),
    0 4px 6px -2px rgb(var(--dark-color-rgb) / 5%);
  transform: translate(0, -100%);
  white-space: nowrap;
}

.ah-tip {
  transform: translate(-50%, -100%);
}

.pc-head {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.pc-seg {
  display: inline-flex;
  border: 0;
  border-radius: 8px;
  background: var(--background-color);
  overflow: hidden;
  padding: 3px 4px;
}

.pc-seg > button {
  appearance: none;
  border: 0;
  border-radius: 8px;
  background: transparent;
  padding: 6px 10px;
  font-size: 12px;
  color: var(--dark-color);
  cursor: pointer;
}

.pc-seg > button:first-of-type {
  margin-right: 2px;
}

.pc-seg > button:last-of-type {
  margin-left: 2px;
}

.pc-seg > button:hover {
  background: rgb(var(--light-color-rgb) / 75%);
}

.pc-seg > button.on {
  background: var(--light-color);
  color: var(--dark-color);
}

.pc-select-wrap {
  position: relative;
  display: inline-block;
}

.pc-month-select {
  padding: 9px 28px 9px 12px;
  border-radius: 8px;
  border: 0;
  background: var(--background-color);
  font-size: 12px;
  color: var(--dark-color);
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pc-month-select:focus {
  outline: none;
}

.pc-caret {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--dark-color);
  pointer-events: none;
}

.pc-month-select:focus + .pc-caret {
  color: var(--dark-color);
}
